/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Sidebar
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
body {
    background-color: #DCD2B4;
    color: #583827;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

h1,
h2,
h3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

p {
    margin: 0 0 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.site-wrapper {
    max-width: 120rem;
    margin: 0 auto;
}
/* Typography
--------------------------------------------- */



/* Elements
--------------------------------------------- */

/* Links
--------------------------------------------- */


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

/* START -- STYLES FOR MOBILE MENU */

/* END -- STYLES FOR MOBILE MENU */


/* Main
--------------------------------------------- */

.site-header{
    
    background-color: #583827;
 
}
.site-wrapper .site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: .5rem;
}

.site-header a {
    text-decoration: none;
    color: #DCD2B4;
    margin-top: 0;
}

.logo-icon {
    font-family: "Windsong", cursive;
    font-size: 4rem;
    font-weight: 300;
}

.navigation-bar{
    display: flex;
    margin: 0;
    padding-left: 0;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: space-between;
}

.navigation-bar li {
    padding-left: .5rem;
    padding-right: .5rem;
}




.title-page h1 {
 
    font-family: "Windsong", cursive;
    font-weight: 600;
    font-size: 4rem;
}


/* Sidebar
--------------------------------------------- */


/* Footer
--------------------------------------------- */





