/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Sidebar
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    background-color: #DCD2B4;
    color: #583827;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

h1,
h2,
h3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    margin: 0 0 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.site-wrapper {
    max-width: 120rem;
    margin: 0 auto;
}
/* Typography
--------------------------------------------- */



/* Elements
--------------------------------------------- */

/* Links
--------------------------------------------- */


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
/* Site Navigation*/

/* START -- STYLES FOR MOBILE MENU */

.site-wrapper {
    margin: 0 auto;
    max-width: 120em;

}

.site-header{
    display: flex;
    background-color: #583827;


 
}
.site-wrapper .site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: .5rem;
}

.site-header a {
    text-decoration: none;
    color: #DCD2B4;
    margin: 0;
}


.navigation-bar{
    display: flex;
    margin: 0;
    padding-left: 0;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: space-between;
    list-style-type: none;
}

.logo-icon {
    font-family: "Windsong", cursive;
    font-size: 4rem;
    font-weight: 300;
    padding: .5rem 3rem;
}

.navigation-bar ul {
    padding: .5rem 2.5rem;
}

.navigation-bar li {
    padding-left: .5rem;
    padding-right: .5rem;
}

/* END -- STYLES FOR MOBILE MENU */

/* Web styles for header --------------------------------*/

@media (min-width: 50em){
    .site-wrapper .site-header {
        flex-direction: row;
        justify-content: space-between;
        
        
        
    }

    .logo-icon {
        font-size: 5rem;
        font-weight: 500;
        
    }

    .navigation-bar {
        margin: auto;
        font-size: 1.5rem;
        padding-bottom: 0;
    }

}




/* Main
--------------------------------------------- */

.title-page {
  margin: 1rem auto 2rem ;
 
}

.title-page .name {
    box-sizing: border-box;
}


.title-page h1 {
 
    font-family: "Windsong", cursive;
    font-weight: 600;
    font-size: 4rem;
    margin:.5rem auto;
    text-align: center;
    
}

.title-page p {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 0 auto;
    text-align: center;
}

.title-page img {
    align-self: center;
}

@media (min-width: 50em){
    .title-page {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 75em;
    }



}

/* About Me Section------------ */

.about-me {
    max-width: 50em;
	margin: 1rem;
    box-sizing: border-box;
    background-color: #293949;
    color: #DCD2B4;
    padding: .25rem;
    border-radius: .9375rem;
    box-shadow: 10px 5px 5px #583827;

}

@media (min-width: 50em){
    .about-me {
        margin: 1rem auto;
    }
}


/* Projects------------- */


.projects-section {
    margin: 3rem auto 4rem;
    max-width: 65em;
    font-weight: 600;
}

.individual-projects h3 {
    padding: 1rem 0 0;
    padding-left: 1rem;
    
}

.project-site {
    max-width: 18.75rem;
    margin: 2rem auto;
    box-shadow: 0px 0px 3px 2px #583827;
    transition: padding 0.2s ease;
    
}

.project-site p {
    padding: .5rem;
}

.project-site a {
    text-decoration: none;
    color: #DCD2B4;
    background-color: #293949;
    padding: .5rem;
    margin: 1rem;
    border-radius: .625rem;
    text-align: center;
}

.project-site a:hover {
    background-color: #583827;
}

.project-site:hover {
    padding: .25rem;
}
.project-site:active {
    padding: 0;
}

.project-name {
    text-align: center;
}


@media (min-width: 50em){
    .site-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


/* Contact Section ------------------*/

.contact {
    margin: 2rem auto;
}

.contact a {
    text-decoration: none;
    color: #583827;
}

.contact h3 {
    text-align: center;
}

.contact ul {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 600;
    position: relative;
}

.contact-link:hover {
    font-size: 1.2rem;
}



/* Footer
--------------------------------------------- */
footer {
    background-color: #583827;
    color: #DCD2B4;
    padding: 2rem auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

footer p {
    padding-top: 1rem;;
}




